.attribution {
  margin: auto;
  padding: .8rem;
  width: 260px;
  background-color: hsl(213, 34%, 11%);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: .75rem;
  border-radius: 20px;
  font-family: 'overpass';
}

@media only screen and (max-width: 600px){
  .attribution{
    width: 80%;
    padding: .75rem 1.75rem;
  }
}

.attribution p {
  display: flex;
  margin:0;
  justify-content: flex-end;
  color: hsl(217, 12%, 63%);
}

.attribution a {
  display: flex;
  margin: auto 0;
  justify-content: flex-start;
  color: hsl(25, 97%, 53%);
}

.attribution * {
}
