.rating-button {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
}

.rating-button .circle,
.circle--selected {
  cursor: pointer;
  height: 50px;
  width: 50px;
  background-color: hsl(213, 19%, 18%);
  color: hsl(216, 12%, 54%);
  font-weight: 700;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rating-button .circle--selected {
  background-color: hsl(217, 12%, 63%);
  color: white;
}

.rating-button .circle:active,
.circle--selected:active {
  background-color: hsl(25, 97%, 53%);
  color: white;
}
